.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 1rem;

    padding: 1.75rem;
    padding-top: 7.5rem;

    text-align: center;
}