header {
    background: url(/images/bg-header-mobile.png) no-repeat;
    background-size: contain;

    width: 100%;

    .website-logo {
        width: 8rem;
    }
}

@media (min-width:635px) {
    header {
        background: url(/images/bg-header-desktop.png) no-repeat;
        background-size: contain;
    }
}
